<h1>Tacos</h1>

<p>We have fish tacos and other types of tacos</p>

<% fillings = ["Meat", "Fish", "Shoes", "Avocados"] %>

<ul>
  <% for filling in fillings %>
    <li><%= filling %></li>
  <% end %>
</ul>

